body {
    background-color: #B5BD89;
}

.sports-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

a {
    text-decoration: none;
}

.card {
    background-color: white;
    box-shadow: 5px 15px 15px rgba(0, 0, 0, 0.9);
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: 0.5s ease;
    cursor: pointer;
    margin: 30px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px rgba(0, 0, 0, 0.6);
}

.card-image {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: 3px dotted lightgrey;
    text-align: center;
}

.card-image img {
    height: 250px;
    width: 250px;
}

.card-text {
    margin: 25px;
    text-align: center;
}

.card-text h2 {
    margin-top: 0;
    font-size: 50px;
}

h4 {
    font-size: 25px;
    font-weight: 700px;
    text-transform: uppercase;
    color: darkred;
}

.card-stats {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    justify-content: space-around;
    border-top: 3px dotted lightgrey;
}

.stat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: black;
}

.value-text {
    font-size: 13px;
    text-transform: uppercase;
    padding-top: 10px;
}

.border {
    border-left: 1px solid darkgrey;
    border-right: 1px solid darkgrey;
    padding: 0px 50px;
}

.Eastern {
    background-color: blue;
}

.Western {
    background-color: red;
}

.search-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 0;
    padding: 20px 0 50px 0;
    border-bottom: 3px dotted black;
}

button {
     margin-top: 40px;
    height: 150px;
    height: 50px;
    padding: 10px 15px;
    border-radius: 15px;
    background-color: #c1d3fe;
    border: 2px solid #c1d3fe;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

button:hover {
    margin-top: 40px;
    height: 200px;
    height: 50px;
    padding: 10px 15px;
    border-radius: 15px;
    background-color: #335c67;
    border: 2px solid #335c67;
     color: white;
    font-size: 20px;
}

.clear {
    display: none;
}