body {
  background-image: url("chessboards.png");
  background-size: cover;
  
}

.Title{
  color: white;
  font-size: 40px ;
  text-shadow: 2px 2px #FF0000, -2px -2px blue;
  animation-duration: 2s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.scoreboard {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.player1 {
  text-align: center;
  padding: 20px;
  background-color: rgb(133, 133, 223);
  border-radius: 10px;
  border: 2px solid black ;
  color: white;
  margin-right: 10px;
}

.player2 {
  text-align: center;
  padding: 20px;
  background-color: rgb(133, 133, 223);
  border-radius: 10px;
  border: 2px solid black ;
  margin-right: 5px;
}

.player1 button, .player2 button {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.player1 button:hover, .player2 button:hover {
  background-color: #00f908;
}

.winner {
  text-align: center;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
  border: 2px dotted black;
}

.winner span {
  font-weight: bold;
  font-size: 24px;
  color: #4CAF50;
}

h1{
  text-align: center;
}

.reset-button{
  background-color: red;
  color: #fff;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.5s ease;
  margin-left: 5px;
}



